.card {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.ip {
    width: 100%;
}

.content {
    width: 96%;
    margin: 0px 2%;
}

.loader{
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}


.btn {
    background-color: green;
    height: 50px;
    width: 100%;
    border-radius: 4px;

    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: rgb(1, 143, 1);
}


@media only screen and (min-width: 1000px) { 

    .card {
        width: 40%;
        border: 1px solid rgb(68, 68, 68);
        border-radius: 8px;
        margin-top: 50px;
    }

    .content {
        width: 90%;
        margin: 0px 5%;
    }
}